[TOKEN_CONFIG]
TOKEN_URL = https://auth.peoplestrong.com/auth/xxxxxxxx
TOKEN_PAYLOAD = grant_type=client_credentials
TOKEN_AUTH = xxxxxxx

[API_CONFIG]
API_URL = https://api.peoplestrong.com/api/xxxxxxx
API_KEY = xxxxxx
API_PAYLOAD = {"integrationMasterName": "EmployeeData"}

[S3_CONFIG]
SECRET_KEY = xxxxx
ACCESS_KEY = xxxxx
BUCKET_NAME = xyz_bucket_nakme
BUCKET_PATH = /Path/in/bucket/folder
LOG_PATH = /path/for/logs/folder